@import "partials/variables";
@import "partials/mixins";
@import "partials/layout";
@import "partials/reset";
@import "partials/fonts";

.container {
  @include flexed(column, space-between, center, nowrap);
  height: 100%;
  width: 100%;
  @include desktop {
    align-items: flex-start;
  }
}
p {
  font-size: 1rem;
  text-align: center;
  font-family: "opensans-light";
}

.site-header {
  @include flexed(column, space-between, center, nowrap);
  margin: auto;
  padding: 12rem 1rem;
  width: 100%;
  @include tablet {
    @include flexed($wrap: nowrap);
    padding-left: 0;
    margin-left: 0;
    border: 0;
  }
  @include desktop {
    @include flexed($justify: flex-start, $wrap: nowrap);
  }
}
.header-active {
  @include flexed(column, center, center, nowrap);
  height: auto;
  flex: 1 0 auto;
  padding: 1rem;
  @include tablet {
    @include flexed(row, flex-start, center, nowrap);
    margin-left: 0;
  }
  .logo {
    width: 100px;
    height: auto;
    @include tablet {
      height: 80px;
    }
  }
}

.search {
  @include flexed(column, center, center, nowrap);
  font-family: "opensans-light";
  font-size: 1.1rem;
  padding: 1rem;
  flex-shrink: 0;
  p {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    @include tablet {
      font-size: 0.9rem;
    }
    @include desktop {
      font-size: 1rem;
    }
  }
  @include tablet {
    align-items: flex-start;
    justify-content: center;
  }
}

.menu {
  width: 120px;
  font-size: 16px;
  font-weight: 500;
  border: 1px cyan solid;
  background: black;
  color: $font-color;
}

.logo {
  display: flex;
  flex-shrink: 1;
  flex-basis: 25%;
  min-width: 150px;
  @include tablet {
    max-width: 100%;
    min-width: 150px;
    flex-shrink: 1;
    flex-basis: 25%;
    margin-right: 1rem;
    margin: 0;
  }
  @include desktop {
    max-width: 100%;
    height: auto;
    text-align: left;
    justify-content: center;
    align-items: center;
  }
}
.loading {
  width: 80px;
  height: auto;
}
.center-load {
  display: flex;
  flex-direction: column;
  img {
    justify-content: flex-start;
    align-self: center;
  }
}
.stories {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  list-style: none;
  a {
    text-decoration: none;
  }
  div {
    height: 50vh;
    background-size: cover;
    background-position: top center;
    margin: auto;
    @include flexed($justify: flex-end, $align: flex-end);
    @include tablet {
      width: 50vw;
      display: flex;
      flex-direction: row;
    }
    @include desktop {
      width: 25vw;
    }

    li {
      display: flex;
      flex-direction: row;
    }
    p {
      text-align: left;
      background: linear-gradient(rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.6));
      line-height: 1.3;
      padding: 12px;
      padding-left: 1.5rem;
      margin-bottom: 0;
      height: auto;
      color: $font-color;
      font-size: 0.93rem;
      @include tablet {
        padding-left: 1.2rem;
        padding-right: 11px;
      }
    }
  }
}

li {
  transition: all 1s ease 0.1s;
  &:hover {
    transform: scale(1.1);
    p {
      font-size: 1rem;
      @include tablet {
        &:nth-child(odd) {
          padding-left: 1rem;
          padding-right: 11px;
        }
        &:nth-child(even) {
          padding-right: 1rem;
          padding-left: 11px;
        }
      }
      @include tablet {
        padding-left: 13px;
        font-size: 0.98rem;
      }
    }
  }
}

.copyright {
  color: #c2c2c2;
  text-align: center;
  margin: 1.5rem 0;
  font-size: 0.9rem;
  @include tablet {
  }
  @include desktop {
    text-align: left;
    padding: 0 2rem;
  }
}
