// @import "partials/normalize";
@import "partials/variables";
@import "partials/mixins";
@import "partials/base";
@import "partials/layout";
@import "partials/reset";
@import "partials/fonts";

.container {
  @include flexed(column, space-around, null, nowrap);
  // height: 100%;
  width: 100%;
}
p {
  font-size: 1rem;
  text-align: center;
  font-family: "opensans-light";
}

.header-active {
  @include flexed(column, center, center, nowrap);
  height: auto;
  flex: 1 0 auto;
  @include tablet {
    @include flexed(row, flex-start, center, nowrap);
    margin-left: 0;
  }
  .logo {
    width: 100px;
    height: auto;
    @include tablet {
      height: 80px;
      // margin: 0;
    }
  }
}
.site-header {
  @include flexed(column, space-between, space-between, nowrap);
  margin: auto;
  // max-width: 450px;
  padding: 1rem;
  width: 100%;

  @include tablet {
    @include flexed($wrap: nowrap);
    padding: 2rem;
    padding-left: 0;
    margin-left: 0;
    border: 0;
    // margin: auto;
    // max-width: 400px;
  }
  @include desktop {
    @include flexed(row, flex-start, center, nowrap);
    margin-left: 1rem;
  }
}

.search {
  @include flexed(column, center, center, nowrap);
  font-family: "opensans-light";
  font-size: 1.1rem;
  padding: 1rem;
  padding-top: 1rem;
  // margin: auto;
  flex-shrink: 0;
  p {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    @include tablet {
      font-size: 0.9rem;
    }
    @include desktop {
      font-size: 1rem;
    }
  }
  @include tablet {
    align-items: flex-start;
    justify-content: center;
  }
}

.menu {
  width: 120px;
  font-size: 16px;
  font-weight: 500;
  border: 1px cyan solid;
  background: black;
  color: $font-color;
}

.logo {
  display: flex;
  flex-shrink: 1;
  flex-basis: 25%;
  // margin: auto;
  min-width: 150px;
  @include tablet {
    max-width: 100%;
    min-width: 150px;
    // height: auto;
    flex-shrink: 1;
    flex-basis: 25%;
    margin-right: 1rem;
    margin: 0;
  }
  @include desktop {
    max-width: 100%;
    height: auto;
    text-align: left;
    justify-content: center;
    align-items: center;
  }
}
.loading {
  width: 80px;
  height: auto;
  align-self: center;
}
.stories {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  list-style: none;
  a {
    text-decoration: none;
  }
  div {
    height: 50vh;
    background-size: cover;
    background-position: top center;
    margin: auto;
    @include flexed($justify: flex-end, $align: flex-end);
    @include tablet {
      width: 50vw;
      display: flex;
      flex-direction: row;
    }
    @include desktop {
      width: 25vw;
    }

    li {
      display: flex;
      flex-direction: row;
    }
    p {
      text-align: left;
      background: linear-gradient(rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.6));
      line-height: 1.25;
      padding: 12px;
      padding-left: 11px;
      margin-bottom: 0;
      height: auto;
      color: $font-color;
    }
  }
}

.copyright {
  color: #c2c2c2;
  text-align: center;
  margin: 1.5rem 0;
  // padding-bottom: 0;
  font-size: 0.9rem;
  @include tablet {
  }
  @include desktop {
    text-align: left;
    padding: 0 2rem;
  }
}
