@font-face {
  font-family: "fonts/Opensans-bold";
  src: url("fonts/Opensans-Bold.eot");
  src: url("fonts/Opensans-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Opensans-Bold.woff2") format("woff2"),
    url("fonts/Opensans-Bold.woff") format("woff"),
    url("fonts/Opensans-Bold.ttf") format("truetype"),
    url("fonts/Opensans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "fonts/Opensans-bolditalic";
  src: url("fonts/Opensans-BoldItalic.eot");
  src: url("fonts/Opensans-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Opensans-BoldItalic.woff2") format("woff2"),
    url("fonts/Opensans-BoldItalic.woff") format("woff"),
    url("fonts/Opensans-BoldItalic.ttf") format("truetype"),
    url("fonts/Opensans-BoldItalic.svg#OpenSans-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "fonts/Opensans-light";
  src: url("fonts/Opensans-Light.eot");
  src: url("fonts/Opensans-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/Opensans-Light.woff2") format("woff2"),
    url("fonts/Opensans-Light.woff") format("woff"),
    url("fonts/Opensans-Light.ttf") format("truetype"),
    url("fonts/Opensans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "fonts/Opensans-lightitalic";
  src: url("fonts/OpensansLight-Italic.eot");
  src: url("fonts/OpensansLight-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/OpensansLight-Italic.woff2") format("woff2"),
    url("fonts/OpensansLight-Italic.woff") format("woff"),
    url("fonts/OpensansLight-Italic.ttf") format("truetype"),
    url("fonts/OpensansLight-Italic.svg#OpenSansLight-Italic") format("svg");
  font-weight: 300;
  font-style: italic;
}
