* {
  box-sizing: border-box;
}

html {
  background: #000;
  font-size: 14px;
  height: 100%;
  @include tablet {
    font-size: 16px;
  }
}
body {
  color: $font-color;
  font-family: "OpenSans-Light";
}

header {
  padding: 2rem 0;
  // margin-bottom: 1rem;
  color: $font-color;
  margin: auto;
}
